{% extends 'Distributor/Fin_DBase.html' %}
{% block body %}


<style>
@media (max-width: 768px) {
  .msg-name{
    padding-left: 1px !important;
  }
}
</style>
<div class="body-wrapper p-3">
    <div class="container-fluid">
        {% if noti %}
        {% for i in noti %}
        <div class="row p-3">
            <div class="col-md-12">
                <div class="card radius-15 p-3">
                    {% if i.Modules_List   or i.PaymentTerms_updation %}
                    <a href="{% url 'Fin_Dnoti_Overview' i.id %}">
                        <div class="card-body">
                            <div class="card-title">
                                <h6 class="card-title mb-9 fw-semibold"><b>{{i.Title}}</b></h6>
                                <hr>
                            </div>
                            <h6 class="msg-name pl-5">{{i.Discription}}<span class="msg-time float-right" style="color: gray;">{{i.Noti_date}}</span></h6>
                        </div>
                        </a>

                    {% else %}

                    <a href="{% url 'Fin_DProfile' %}">
                        <div class="card-body">
                            <div class="card-title">
                                <h6 class="card-title mb-9 fw-semibold"><b>{{i.Title}}</b></h6>
                                <hr>
                            </div>
                            <h6 class="msg-name pl-5">{{i.Discription}}<span class="msg-time float-right" style="color: gray;">{{i.Noti_date}}</span></h6>
                        </div>
                        </a>
                    
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="row p-3">
            <div class="col-md-12">
                <div class="card radius-15 p-3">
                    <a href="">
                    <div class="card-body">
                        <div class="card-title">
                            <h5 class="card-title mb-9 fw-semibold text-center"><b> Notifications is not found</b></h5>
                            
                        </div>
                        
                    </div>
                    </a>
                </div>
            </div>
        </div>
       
        {% endif %}
    </div>
</div>            


{% endblock %}